@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: Gilroy, "Helvetica Neue";
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #151416;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 15px;
  background-color: #6556cd;
}
